.btn_counter{
    background-color:rgb(175,228,241);
    color:rgb(13,9,19);
    height:6vh;
    width:50%;
}
.box-dark
{
    background-color: black;
}
.box-white{
    
    background-color: white;
}
