.Forget{
  font-size:17px;
  color: black;
  text-decoration: none;
}

.Forget:hover{
    color:#2A609E;
    text-decoration: underline;
    cursor:crosshair;
    font-size: 20px;
}
button{
    color:white;
    width:15%;
    border:none;
    background-color: rgb(122, 138, 232);
    border-radius: 5px;
    display: flex;
    margin-right: 30px;
}

button:hover{
    background-color: rgb(43, 226, 58);
    color: black;
}
.login-card{
     border: 7px solid rgb(216, 211, 211);
     width: 25%;
     height: 44vh;
     display: flex;
     flex-direction: column;
    justify-content: start;
}
.form-control{
    display: flex;
    flex-direction:column;
}
input{
    height: 35px;
    width:75%;
    border-radius:10px;
}
